<html>
    <title>   Library page </title>
    <head> <h2>Welcome to Library </h2>  </head>
    <body>
     
        <form action="{%  url 'show-library' %}" method="post">
            {% csrf_token %}
     LibraryName :- <input type="text" name="LibraryName"><br><br>
     LibraryPrice :- <input type="number" name="Libraryprice"><br><br>
     Libraryis_published :- yes<input type="radio" name="Libraryis_published"> no <input type="radio" name="librayis_published"><br><br>
     <input type="submit" value="submit">
        </form>









    </body>








</html>